{% extends "site-base.html" %}
{% load static %}

{% block title %}| Home{% endblock %}

{% block base_header %}
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1>Hi, <span class="turquoise">{{ name }}</span>.</h1>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/AdminLogin.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
{% endblock base_header %}

{% block base_breadcrumbs %}
<!-- nothing here -->
{% endblock base_breadcrumbs %}

{% block content %}
<!-- Lecturers -->
<div class="slider-2 assessments-list" id="lecturerslist">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Messages -->
            <div> 
              {% if messages %}
              <div class="alert alert-info messages">
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
            </div>
          <!-- end of messages -->
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Lecturer</h2>
                <!-- Table -->
                <p class="right">
                  <a href="{% url 'addlecturer' %}" style="text-decoration: none;">
                    New Lecturer <i class="far fa-plus-square"></i>
                  </a>
                </p>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for lecturer in lecturers %}                          
                      <tr>
                        <td>
                          <form action="{% url 'chooselecturer' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="lecturerid" value="{{ lecturer.UserID }}">
                            <input type="submit" style="background:none; border: none; color: #626262; text-decoration: underline; cursor: pointer;"
                            value="{{ lecturer.UserID }}"/>
                          </form>                          
                        </td>
                        <td>{{ lecturer.Lect_Name }}</td>
                        <td>{{ lecturer.Lect_Email }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- end of table -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of Assessments -->

<!-- Course -->
<div class="slider-2 courses-list" id="courseslist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Course & Class</h2>
                <!-- Table -->
                <a href="7.2-classreport.html">go to class details and report</a>
                <a href="7.4-newclass.html">add new class</a>
                <a href="9.3-newcourse.html">add new course</a>
                <table class="table table-hover">
                    <thead>
                      <tr>        
                        <th scope="col">Course</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for course in courses %}
                      <tr>
                        <td>
                          <form action="{% url 'choosecourse' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="courseID" value="{{course.id}}">
                            <input type="submit" style="background:none; border: none; color: #626262; text-decoration: underline; cursor: pointer;"
                            value="{{ course.CourseID }} - {{ course.Course_Name }}"/>
                          </form>
                        </td>                            
                      </tr>
                      {% endfor %}                          
                    </tbody>
                  </table>
                  <!-- end of table -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of Courses -->
{% endblock content %}