{% extends "site-base.html" %}
{% load static %}

{% block title %}| Report{% endblock %}

{% block headertitle %}Assessment Report{% endblock headertitle %}

{% block breadcrumbs %}
<a href="{% url 'mainmenu' %}">Home</a><i class="fa fa-angle-double-right"></i>
<span>{{assessment.CourseID.Course_Name}}: {{assessment.Assessment_Name}}</span>
{% endblock breadcrumbs %}

{% block content %}
<div class="ex-basic-2">
    <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!-- Content 1: Course Name and Class -->
                <div class="text-container">
                    <h3>{{assessment.CourseID.Course_Name}}: {{assessment.Assessment_Name}}</h3>
                </div> <!-- end of content 1-->
                
                <!-- Content 2: Bubble(?) chart -->
                <div class="text-container">
                    <div class="right">
                        scores: highest, average, lowest
                    </div>
                </div>
                
                <!-- Content 3: Topic list & Download button -->
                <div class="text-container">
                    Topic list
                    <p>
                        dowload button
                    </p>
                </div>

                <!-- Content 4: List of Questions-->
                <div class="text-container">
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Accuracy</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for questions in questions %}
                        <tr>  
                            <td>
                                <span style="white-space: pre;">{{ questions.Question }}</span>
                                <br>
                                <br>
                                <b>Answer Choices:</b>
                                <br>
                                A. {{ questions.Answer_1 }}
                                <br>
                                B. {{ questions.Answer_2 }}
                                <br>
                                C. {{ questions.Answer_3 }}
                                <br>
                                D. {{ questions.Answer_4 }}
                                <br>
                                <br>
                                <b>Correct Answer:</b> {{ questions.Correct_Answer }}
                                <br>
                                <br>
                                <b>Explanation:</b>
                                <br>
                                <i>{{ questions.Answer_Explanation }}</i>
                            </td>
                            <td>
                                accuracy donut/pie chart
                            </td>                            
                        </tr>                        
                        {% endfor %}                          
                    </tbody>
                  </table>
                  <!-- end of table -->
                </div> <!-- end of content 4 -->
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
{% endblock content %}