{% extends "site-base.html" %}
{% load static %}

{% block title %}| Report{% endblock %}

{% block headertitle %}Assessment Report{% endblock headertitle %}

{% block breadcrumbs %}
<a href="{% url 'mainmenu' %}">Home</a><i class="fa fa-angle-double-right"></i>
<span>{{assessment.CourseID.Course_Name}}: {{assessment.Assessment_Name}}</span>
{% endblock breadcrumbs %}

{% block content %}
<div class="ex-basic-2">
    <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!-- Content 1: Course Name and Class -->
                <div class="text-container">
                    <h3>{{assessment.CourseID.Course_Name}}: {{assessment.Assessment_Name}}</h3>
                </div> <!-- end of content 1-->
                
                <!-- Content 3: Topic list & Download button -->
                <div class="text-container">
                    <h5>Topics</h5>
                    <ul>
                        {% for q in topic %}
                        <li>
                            Chapter {{ q.Topic_No }}: {{ q.Topic_Name }}
                        </li>                 
                        {% endfor %}
                    </ul>
                </div>

                <!-- Content 2: Score Bubble -->
                <div class="text-container">
                    <h5>Scores</h5>
                    <div style="width: 100px; height: 100px; text-align: center; border-radius: 50px; display: inline-block;" id="good">
                        <br>
                        <b>Highest</b>
                        <h6>{{ highest }}%</h6>                        
                    </div>
                    <div style="width: 100px; height: 100px; text-align: center; border-radius: 50px; display: inline-block;" id="average">
                        <br>
                        <b>Average</b>
                        <h6>{{ average }}%</h6>                        
                    </div>
                    <div style="width: 100px; height: 100px; text-align: center; border-radius: 50px; display: inline-block;" id="bad">
                        <br>
                        <b>Lowest</b>
                        <h6>{{ lowest }}%</h6>                        
                    </div>
                </div>

                <!-- Content 4: List of Questions-->
                <div class="text-container">
                <p class="right">
                    Download as:
                    <br>
                    <a href="{% url 'print' %}" style="text-decoration: none;">PDF <i class="fas fa-file-pdf red"></i></a>
                    <!--
                        no need CSV for assessment report
                        <a href="#2" style="text-decoration: none;">CSV <i class="fas fa-file-excel darkgreen"></i></a>
                    -->
                </p>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Accuracy</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for questions, accuracy in intotable %}
                        <tr> 
                            <td>
                                <span style="white-space: pre-wrap;">{{ questions.Question }}</span>
                                <br>
                                <br>
                                <b>Answer Choices:</b>
                                <br>
                                A. {{ questions.Answer_1 }}
                                <br>
                                B. {{ questions.Answer_2 }}
                                <br>
                                C. {{ questions.Answer_3 }}
                                <br>
                                D. {{ questions.Answer_4 }}
                                <br>
                                <br>
                                <b>Correct Answer:</b> {{ questions.Correct_Answer }}
                                <br>
                                <br>
                                <b>Explanation:</b>
                                <br>
                                <i>{{ questions.Answer_Explanation }}</i>
                            </td>
                            <td {% if accuracy == 100 %} id="good" {% elif accuracy <= 40 %} id="bad" {% endif %}>
                                {{ accuracy }}%
                            </td>                            
                        </tr>                        
                        {% endfor %}                          
                    </tbody>
                  </table>
                  <!-- end of table -->
                </div> <!-- end of content 4 -->
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
{% endblock content %}