{% extends "site-base.html" %}
{% load static %}

{% block title %}| Report{% endblock %}

{% block headertitle %}Class Performance Report{% endblock headertitle %}

{% block breadcrumbs %}
<a href="{% url 'mainmenu' %}">Home</a><i class="fa fa-angle-double-right"></i>
<span>{{classname.CourseID.Course_Name}} - {{classname.ClassID}}</span>
{% endblock breadcrumbs %}

{% block content %}
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!-- Content 1: Course Name and Class -->
                <div class="text-container">
                    <h3>{{classname.CourseID.Course_Name}} - {{classname.ClassID}}</h3>
                </div> <!-- end of content 1-->
                
                {% if available == True %} 
                
                <!-- Content 3: Download button -->
                <div class="text-container">
                    <b>Assessments</b>
                    <ol>
                    {% for assessments in assessments %}
                        <li>{{ assessments.Assessment_Name }}</li>
                        {% empty %}
                        <i>no assessments assigned to this class...</i>
                    {% endfor %}
                    </ol>
                </div>

                <!-- Content 2: Pie chart -->
                <div class="text-container" align="center">
                    <div style="width: 50%;">
                        <b>Performance Summary</b>
                        <canvas id="pie-chart"></canvas>
                    </div>
                </div>

                <!-- Content 4: List of Students-->
                <div class="text-container">
                    <p class="right">
                        Download as:
                        <br>
                        <a href="{{ classname.id }}/print" target="_blank" style="text-decoration: none;"><b>PDF </b><i class="fas fa-file-pdf red"></i></a>                      
                    </p>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Learning Progress</th>
                        <th scope="col">Performance</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for students, performance in intotable %}
                        <tr>
                            <td>
                                {{ students.StudentID }}
                            </td>    
                            <td>
                                {{ students.StudentName }}
                            </td>
                            <td>
                                <div class="skill-container">
                                    <div class="skills"></div>                                  
                                </div>
                            </td>
                            <td align="center" {% if performance == "HIGH" %} style="background-color: #a3d292;" {% elif performance == "AVERAGE" %} style="background-color: #ebd78b;" 
                            {% else %} style="background-color: #f69eaf;" {% endif %}>
                                {{ performance }}
                            </td>
                            <td>
                                <a href="{{classname.id}}/{{students.StudentID}}">
                                    <button type="submit" style="border-style: none; border-radius: 5px;">
                                        View Report
                                    </button>
                                </a>
                            </td>                            
                        </tr>                        
                        {% endfor %}                          
                    </tbody>
                  </table>
                  <!-- end of table -->
                </div> <!-- end of content 4 -->
                {% else %}
                <i>No report for this class yet...</i>
                <br><br><br>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for students in students %}
                        <tr>
                            <td>
                                {{ students.StudentID }}
                            </td>    
                            <td>
                                {{ students.StudentName }}
                            </td>                   
                        </tr>                        
                        {% endfor %}                          
                    </tbody>
                  </table>
                {% endif %}
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<script>
    var a = document.getElementsByClassName("skills")
    var lp = JSON.parse('{{LPjs|escapejs}}')

    for (i = 0; i < lp.length; i++) {
        var percentage = lp[i];
        var value = percentage.toString();
        var w = value.concat("%");
        a[i].style.width = w;
    }
    
</script>
<script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#a3d292', '#ebd78b', '#f69eaf'
          ],
          label: 'Performance'
        }],
        labels: {{ labels|safe }}
        },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

</script>
{% endblock content %}