{% extends "site-base.html" %}
{% load static %}

{% block title %}| Home{% endblock %}

{% block base_header %}
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1>Hi, <span class="turquoise">{{ name }}</span>.</h1>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/LecturerLogin.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
{% endblock base_header %}

{% block base_breadcrumbs %}
<!-- nothing here -->
{% endblock base_breadcrumbs %}

{% block content %}
<!-- Assessment -->
<div class="slider-2 assessments-list" id="assessmentslist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Assessments</h2>
                <a class="popup-with-move-anim" href="#details-lightbox-1">create new assessment</a>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Coverage</th>
                        <th scope="col">Course</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for assessments in assessments %}
                      <tr>                        
                        <td>
                          <a href="report/assessment/{{ assessments.AssessmentID }}">{{assessments.Assessment_Name}}</a>
                        </td>
                        <td>{{assessments.Assessment_Desc}}</td>
                        <td>{{assessments.CourseID.CourseID}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- end of table -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of Assessments -->

<!-- New Assessment Lightbox -->
<!-- Details Lightbox 1 - Assessment Name -->
<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
    <h3>New Assessment</h3>
    <br>
    <form action="{% url 'createassessment' %}" method="POST">
      {% csrf_token %}
      <h5>Assessment Name</h5>
      <input type="text" class="form-control" name="Assessment_Name">
      <br>
      <h5>Course</h5>
      <select class="form-control" name="CourseID">
        {% for course in course %}
        <option value="{{course.id}}">{{course.CourseID}} - {{course.Course_Name}}</option>
        {% endfor %}
      </select>
      <br><br>
      <input type="submit" class="btn-outline-reg" value="CREATE">
    </form>
  </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 1 -->

<!-- Class -->
<div class="slider-2 classes-list" id="classeslist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Courses & Classes</h2>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Class</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for class in classes %}                          
                      <tr>    
                        <td>
                          <form action="{% url 'choosecourse' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="courseID" value="{{class.CourseID.id}}">
                            <input type="submit" style="background:none; border: none; color: #626262; text-decoration: underline; cursor: pointer;"
                            value="{{ class.CourseID.CourseID }} - {{ class.CourseID.Course_Name }}"/>
                          </form>
                        </td>
                        <td>
                          <a href="report/class/{{class.id}}">{{ class.ClassID }}</a>
                        </td>                            
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- end of table -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of Classes -->
{% endblock content %}