{% extends "pdf-base.html" %}
{% load static %}

{% block title %}| Report{% endblock %}

{% block content %}
<div class="ex-basic-2">
    <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div align="center"><h1>ASSESSMENT REPORT</h1></div>
                <span><b>Course: </b>{{ assessment.CourseID.CourseID }} - {{ assessment.CourseID.Course_Name }}</span><br>                    
                <span><b>Assessment: </b>{{ assessment.Assessment_Name }}</span>
                
                <!-- Content 2: Topic list -->
                <div class="text-container">
                    <h5>Topics</h5>
                    <ul>
                        {% for q in topic %}
                        <li>
                            Chapter {{ q.Topic_No }}: {{ q.Topic_Name }}
                        </li>                 
                        {% endfor %}
                    </ul>
                </div>

                {% if available == True %}
                    <!-- Content 3: Score Bubble -->
                    <div class="text-container">
                        <h5>Scores</h5>
                        <ul>
                            <li>Highest: {{ highest }}%</li>
                            <li>Average: {{ average }}%</li>
                            <li>Lowest: {{ lowest }}%</li>
                        </ul>
                    </div>

                    <!-- Content 4: List of Questions-->
                    <div class="text-container">
                    <!-- Table -->
                    <br>
                    <table border="0.5" align="center">
                        <thead>
                        <tr>
                            <th scope="col" width="70%">Question</th>
                            <th scope="col">Accuracy</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for questions, accuracy in intotable %}
                            <tr> 
                                <td>
                                    <span style="white-space: pre-wrap;">{{ questions.Question }}</span>
                                    <br>
                                    <br>
                                    <b>Answer Choices:</b>
                                    <br>
                                    A. {{ questions.Answer_1 }}
                                    <br>
                                    B. {{ questions.Answer_2 }}
                                    <br>
                                    C. {{ questions.Answer_3 }}
                                    <br>
                                    D. {{ questions.Answer_4 }}
                                    <br>
                                    <br>
                                    <b>Correct Answer:</b> {{ questions.Correct_Answer }}
                                    <br>
                                    <br>
                                    <b>Explanation:</b>
                                    <br>
                                    <i>{{ questions.Answer_Explanation }}</i>
                                </td>
                                <td align="center">
                                    {{ accuracy }}%
                                </td>                            
                            </tr>                        
                            {% endfor %}                          
                        </tbody>
                    </table>
                    <!-- end of table -->
                    </div> <!-- end of content 4 -->
                {% else %}
                    <!-- Content 4: List of Questions-->
                    <div class="text-container">
                        <i>No report for this assessment yet...</i>
                        <br><br>
                        <!-- <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="AssessmentID" value="{{ assessment.AssessmentID }}">
                            <p class="right">
                                Assign to Class
                                <button type="submit" style="border-style: none; border-radius: 5px;">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </p>
                        </form>                         -->
                        <!-- Table -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Question</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for questions in questions %}
                                <tr> 
                                    <td>
                                        <span style="white-space: pre-wrap;">{{ questions.Question }}</span>
                                        <br>
                                        <br>
                                        <b>Answer Choices:</b>
                                        <br>
                                        A. {{ questions.Answer_1 }}
                                        <br>
                                        B. {{ questions.Answer_2 }}
                                        <br>
                                        C. {{ questions.Answer_3 }}
                                        <br>
                                        D. {{ questions.Answer_4 }}
                                        <br>
                                        <br>
                                        <b>Correct Answer:</b> {{ questions.Correct_Answer }}
                                        <br>
                                        <br>
                                        <b>Explanation:</b>
                                        <br>
                                        <i>{{ questions.Answer_Explanation }}</i>
                                    </td>                           
                                </tr>                        
                                {% endfor %}                          
                            </tbody>
                        </table>
                        <!-- end of table -->
                    </div> <!-- end of content 4 -->
                {% endif %}
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
{% endblock content %}