{% extends "site-base.html" %}
{% load static %}

{% block title %}| Report{% endblock %}

{% block headertitle %}Student Performance Report{% endblock headertitle %}

{% block breadcrumbs %}
<a href="{% url 'mainmenu' %}">Home</a><i class="fa fa-angle-double-right"></i>
<a href="/report/class/{{std_class.id}}">{{ std_class.CourseID.Course_Name }} - {{ std_class.ClassID }}</a><i class="fa fa-angle-double-right"></i>
<span>{{ student.StudentName }}</span>
{% endblock breadcrumbs %}

{% block content %}
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!-- Content 1: Course Name and Class -->
                <div class="text-container">
                    <h3>{{ student.StudentName }}</h3>
                    <h4>{{ student.StudentID }}</h4>
                </div> <!-- end of content 1-->
            </div> <!-- end of col-->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <div class="text-container">
                    <b>Filter by Assessment:</b>
                    <br>
                    <form action="" method="GET">
                        <div class="form-row">
                            <div class="col-7">
                                <select name="assessment" id="" class="form-control mb-2" onload="SelectChoice()">
                                    <option value="" selected disabled hidden>{{ assessment_name.Assessment_Name }}</option>
                                    {% for assessment in assessment %}
                                    <option value="{{ assessment.AssessmentID }}" id="{{ assessment.AssessmentID }}">{{ assessment.Assessment_Name }}</option>
                                    {% empty %}
                                    <option value="">--</option>                      
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn-solid-reg">
                                    GO
                                 </button>
                            </div>                            
                        </div>
                    </form>
                </div>
                <div>
                    <h5>{{ assessment_name.Assessment_Name }}</h5>
                    <table class="table table-hover table-responsive border">
                        <thead>
                          <tr>
                            <th scope="col">Question</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for answer in std_answer %}
                            <tr>  
                                <td style="word-wrap: break-word;">
                                    <span style="white-space: pre-wrap;">{{ answer.Question.Question }}</span>
                                    <br>
                                    <br>
                                    <b>Answer Choices:</b>
                                    <br>
                                    A. {{ answer.Question.Answer_1 }}
                                    <br>
                                    B. {{ answer.Question.Answer_2 }}
                                    <br>
                                    C. {{ answer.Question.Answer_3 }}
                                    <br>
                                    D. {{ answer.Question.Answer_4 }}
                                    <br>
                                    <br>
                                    <b>Your Answer:</b> {{ answer.Answer }}
                                    <br><br>
                                    <b>Correct Answer:</b> {{ answer.Question.Correct_Answer }}
                                    <br><br>
                                    <b>Explanation:</b>
                                    <br>
                                    <i>{{ answer.Question.Answer_Explanation }}</i>
                                </td>                            
                            </tr>                        
                            {% endfor %}                          
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="text-container">
                    <p class="right">
                        Download as:
                        <br>
                        <a href="/report/class/{{ std_class.id }}/{{ student.StudentID }}/{{ assessment_name.AssessmentID }}/print" target="_blank" style="text-decoration: none;"><b>PDF </b><i class="fas fa-file-pdf red"></i></a>                      
                    </p>
                </div>
                <div class="text-container analysis">
                    <!-- Change background-color according to scores -->
                    {% if result.Result > avg %}                    
                    <div class="scorebox centertext" style="background-color: #a3d292;">
                        <h6>Score</h6>
                        <span class="score">{{ result.Result }}%</span>
                    </div>
                    {% elif result.Result < avg %}
                    <div class="scorebox centertext" style="background-color: #f69eaf;">
                        <h6>Score</h6>
                        <span class="score">{{ result.Result }}%</span>
                    </div>      
                    {% else %}
                    <div class="scorebox centertext" style="background-color: #ebd78b;">
                        <h6>Score</h6>
                        <span class="score">{{ result.Result }}%</span>
                    </div> 
                    {% endif %}
                    <!-- End of change background-color according to scores -->
                    <div class="sidebox centertext">
                        <h6>Class Average Score</h6>
                        <span class="score">{{ avg }}%</span>                        
                    </div>
                    <div class="sidebox centertext">
                        <h6>Learning Progress</h6>
                        <br>
                        <div class="skill-container">
                            <div class="skills"></div>
                        </div>
                        {{ LearningProgress }}%
                    </div>
                    <div class="sidebox centertext">
                        <h6>Critical Topic</h6>
                        <div style="width: 80%; margin: auto;">
                            {% for t in criticaltopics %}
                            <span><i class="fas fa-exclamation-circle red"></i></span>
                            Chapter {{ t.Topic_No }} - {{ t.Topic_Name }}
                            <br>
                            {% empty %}
                            <i>No critical topics. Good job!</i>
                            {% endfor %}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<script>
    var a = document.getElementsByClassName("skills")
    a[0].style.width = "{{ LPjs|escapejs }}%"
</script>
{% endblock content %}